* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  border: 8px black;
  display: flex;
  font-family: "DM Sans", system-ui;
  box-sizing: border-box;
  flex-direction: column;
}


html {
  font-size: 16px;
}

body,
html {
  
  width: auto;
  margin: 0;
  padding: 0;
}

header {
  align-content: center;
   
   }


.layout {
  margin: 3rem;

  
}

.links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.link {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  border-radius: 5px;
  color: rgb(28, 24, 24);
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  background-color: rgb(219, 223, 227);
}

.btn:hover {
  letter-spacing: 10px;
  transition: all 0.4s ease 0s;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  background-color: aqua;
  height: 130%;
}

h1 {
  padding-top: 2%;
}

.box-4 {
  padding-right: 2%;
}


.CV {
  padding-top: 2%;
}


img {
  width: 30rem;
  height: 30rem;
  display: block;
  max-width: 100%;
  float: right;
  border-radius: 100%;
  box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.55);
}

footer {
  background-color: rgb(219, 223, 227);
  color: rgb(0, 0, 0);
  border-top: 1px solid rgb(219, 223, 227);
  border-width: 4px;
  padding: 1rem 0rem 1rem 0rem;
  text-align: left;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

@Media(max-width: 402px) {
  body, main, header, nav, ul, li, a  button, section, h1, footer {
flex-direction: column;
    font-size: 16px;
    margin: 0;
    align-items: center;
  }
  
  img {
    width: 50%;
    height: 50%;
    align-items: right;
  }


  .btn {
    width: 20rem;
    height: 3rem;
  }

  .btn:hover {
    letter-spacing: 10px;
    transition: all 0.4s ease 0s;
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    background-color: rgb(255, 38, 0);
    height: 130%;
  }
}